.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.page-header__icon {
  background-clip: padding-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  margin: 0;
  position: relative;
  text-decoration: none;
  width: 3em;
  cursor: pointer;
}

.page-header__icon--onTop {
  z-index: 100;
}

.page-header__icon--img {
  height: 100%;
  width: 100%;
}

.page-header__location-heading {
  margin: 0;
  height: 100%;
  width: 100%;
  flex: 1;
  padding-left: 1em;
  font-size: 1.4em;
  font-weight: 500;
  line-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.page-header__loader {
  flex: 1;
  padding-left: 2em;
  display: flex;
  justify-content: start;
  height: 1.5em;
  position: relative;
  width: 20%;
}
