.geosuggest {
  background-color: #fff;
  height: 3em;
  width: calc(100% - 4em);
  position: absolute;
  left: 4em;
  top: 1em;
  right: 0;
  z-index: 99;
}

.geosuggest__input-wrapper {
  width: 100%;
}

.geosuggest__input {
  border: 1px solid #a1a1a1;
  box-shadow: none;
  color: inherit;
  font-size: 16px;
  line-height: normal;
  padding: 0 0 0 0.9375em;
  height: 3em;
  width: 100%;
}

.geosuggest__input:focus {
  outline: none;
  border: 1px solid #1575cf;
}

.geosuggest__suggests-wrapper {
  width: 100%;
  position: relative;
}

.geosuggest__suggests {
  background-color: #fff;
  border: 1px solid #1575cf;
  padding: 0;
  max-height: 25em;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 1em;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  transition: max-height 0.2s, border 0.2s;
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
  box-shadow: none;
}

.geosuggest__item {
  height: 4.2em;
  display: flex;
  align-items: center;
  font-size: 16px;
  position: relative;
  padding-left: calc(2em + 16px);
}

.geosuggest__item:not(:last-of-type) {
  border-bottom: 1px solid #a1a1a1;
}

.geosuggest__item:before {
  content: url("/location.png");
  position: absolute;
  left: 1em;
}

.geosuggest__item--active,
.geosuggest__item:hover {
  background: #267dc0;
  color: #fff;
  cursor: pointer;
}
