.weather-location-list__title {
  font-size: 1.4em;
  letter-spacing: 0.7px;
  margin: 0;
  padding-top: 2.7em;
  font-weight: 400;
}

.weather-location-list {
  display: grid;
  grid-template-columns: 5fr repeat(5, 1fr);
  grid-template-rows: 1fr;
}

.weather-location-list__heading-row {
  grid-column: 2/-1;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  padding: 0.5em 0;
  color: var(--other-color);
  font-weight: 200;
}

.weather-location-list__heading-row__item {
  margin: 0;
}
.weather-location-list__data-row {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 5fr repeat(5, 1fr);
  justify-items: center;
  padding: 0.5em 0;
  border-top: 1px solid var(--border-color);
  color: var(--main-color);
  font-weight: 200;
}

.weather-location-list__data-row:last-of-type {
  border-bottom: 1px solid var(--border-color);
}

.weather-location-list__data-row:hover {
  background-color: var(--background-hover-color);
}

.weather-location-list__location-name {
  justify-self: left;
  font-weight: 500;
  line-height: 1.4;
  font-size: 1.1em;
}

.weather-location-list__icon-wrapper {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-location-list__data-row__item--temp {
  color: red;
}

.weather-location-list__data-row__item--precip {
  color: blue;
}
