:root {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a:any-link {
  text-decoration: none;
}
