:root {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial,
    sans-serif;
  --primary-color: #0341b6;
  --secondary-color: #005bff;
  --text-color-primary: rgb(97, 97, 97);
  --text-color-secondary: rgb(179, 179, 179);
  --background-hover-color: rgb(252, 252, 252);
  --border-color: rgb(235, 235, 235);
}

html,
body {
  box-sizing: border-box;
  font-size: 15px;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a:any-link {
  text-decoration: none;
}

.layout-container,
.layout-container--pad-top {
  position: relative;
  height: 100%;
  margin: 0 auto;
  max-width: 85em;
  width: 100%;
  padding: 0 1.33333em;
}

.layout-container--pad-top {
  margin-top: 3em;
}

.weather-symbol__wrapper {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temperature--warm {
  color: #c60000 !important;
}

.temperature--cold,
.precipitation {
  color: blue !important;
}

.uv {
  border-radius: 3px;
  padding: 2px 5px;
  color: rgb(0, 0, 0) !important;
}

.green {
  background-color: rgba(64, 191, 61, 0.75);
}

.yellow {
  background-color: rgba(255, 240, 0, 0.75);
}

.orange {
  background-color: rgba(255, 127, 0, 0.75);
}

.red {
  background-color: rgba(255, 0, 0, 0.75);
}

.violet {
  background-color: rgba(166, 89, 255, 0.75);
}

.center-page-text-wrapper {
  width: 100%;
  height: calc(100vh - 121px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}

.center-page-text-wrapper * {
  margin: 0;
}

.powered-by {
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 8;
  border-top-left-radius: 5px;
  padding: 0.5em;
  border-top: 1px solid #efefef;
  border-left: 1px solid #efefef;
  color: var(--text-color-primary);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transform: translateX(calc(100% - 2.4em));
  transition: 0.2s transform cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.powered-by:hover {
  background: #fff !important;
  color: var(--primary-color);
  transform: translateX(0);
}

.powered-by p {
  text-align: center;
  margin: 0;
  vertical-align: middle;
  display: inline;
  margin-left: 0.5em;
  font-weight: 300;
}

.powered-by img {
  border: none;
  border-radius: 2em;
  width: 1.5em;
  vertical-align: middle;
  background-color: #333;
}
