:root {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  --main-color: rgb(97, 97, 97);
  --other-color: rgb(179, 179, 179);
  --background-hover-color: rgb(252, 252, 252);
  --border-color: rgb(235, 235, 235);
}

html,
body {
  box-sizing: border-box;
  font-size: 15px;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a:any-link {
  text-decoration: none;
}

.layout-container {
  position: relative;
  height: 100%;
  margin: 0 auto;
  max-width: 85em;
  width: 100%;
  padding: 0 1.33333em;
}

.weather-symbol__wrapper {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temperature--warm {
  color: #c60000 !important;
}

.temperature--cold {
  color: blue !important;
}
