.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 1em;
}

.page-header__location-heading {
  margin: 0;
  height: 2em;
  width: 100%;
  flex: 1;
  padding-left: 1em;
  font-size: 1.4em;
  font-weight: 500;
  line-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  z-index: 1;
}

.page-header__item {
  height: 3em;
  margin: 0 0.5em;
}

