.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 1em;
}

.page-header__location-heading {
  margin: 0;
  height: 2em;
  width: 100%;
  flex: 1;
  padding-left: 1em;
  font-size: 1.4em;
  font-weight: 500;
  line-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
  z-index: 1;
  display: flex;
  align-items: center;
}

.page-header__item {
  height: 3em;
  margin: 0 0.5em;
}

.page-header__nav {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none;
}

.page-header__nav__item {
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
  font-weight: 400;
}

.page-header__nav__anchor {
  color: #686a6c;
  display: block;
  padding: 0 2em;
  height: 3.86667em !important;
  width: 9em;
  line-height: 3.86667em;
  transition: all 0.15s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.page-header__nav__anchor.active,
.page-header__nav__anchor:hover {
  border-bottom: 2px solid #005bff;
}

.page-header__loader-wrapper {
  width: 30%;
  height: 60%;
}
